/* @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap'); */
body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #ac0707;
  text-decoration: none;
  margin: 0px;
}
.navbar {
  background-color: #895b5b;
  display: flex;
}
.logo {
  flex: 3;
}
.Logo {
  height: 100px;
  width: auto;
  padding-right: 20px;
  margin-top: 5px;
}

.nav-item {
  flex: 1;
  padding: 35px 0px 20px 25px;
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
}
.nav-item:last-child {
  padding-right: 30px;
}
.nav-item:hover {
  background-color: pink;
}
.toggle {
  background-color: #895b5b;
  padding: 10px;
  height: 40px;
  font-size: 39px;
}
.active {
  display: block !important;
}

.border {
  width: 100vw;
  height: 8px;
  background-color: #fff;
  margin-top: 10px;
}
.landing-image:hover,
.gallery:hover {
  /* filter: blur(6px); */
}
.landing-image {
  background-image: url(assets/IMG_4020.png);
  background-size: cover;
  background-position: center;
  height: 40vh;
  /* opacity: 0.4; */
  position: relative;
}

.landing-text {
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 1px black;
  font-size: 3.1rem;
  font-weight: 600;
  margin-top: 0%;
  padding-top: 0%;
}
.landing-text:first-child {
  padding-top: 10vh;
}

.teachers-name,
.teachers-sub {
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgb(211, 208, 208);
}

.-item {
  /* flex: 1; */
  margin: 5px;
  /* box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.-img {
  width: auto;
  height: 250px;
  object-fit: cover;
}

.gallery {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  text-decoration: none;
}

/* https://codepen.io/GeorgePark/pen/vdqYom */

.footer {
  background-color: #895b5b;
  padding: 20px 0 10px 0;
  margin-top: 20px;
  margin-right: 0;
  /* display: flex; */
}
.footer-imge {
  display: flex;
  height: 78px;
  justify-content: center;
}

.footer-img {
  padding-left: 9px;
}
.footer-text {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
}
@media screen and (min-width: 1650px) {
  .logo {
    flex: 4;
  }
}
@media screen and (max-width: 1170px) {
  .logo {
    flex: 2.5;
  }
  .nav-item {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 800px) {
  .landing-text {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 550px) {
  .landing-text {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 1100px) {
  .toggle {
    display: block;
  }
  .logo {
    display: none;
  }
  .navbar {
    flex-direction: column;
    text-align: center;
  }
  .nav-item {
    padding: 10px 0;
    font-size: 1.8rem;
    display: none;
  }
  .nav-item:last-child {
    padding-right: 0;
  }
}

@media screen and (min-width: 1100px) {
  .toggle {
    display: none;
  }
}
